.card
	h3.card-header #{data.postalCode}
	.card-block
		h4.card-title #{data.postalCode} #{data.settlement} #{data.addressSource}
		.card-text
			h4 Предоставляемые услуги
			ul
			each sg in data.serviceGroups
				li #{sg.serviceGroupName}
			h4 Телефоны
			ul			
			each phone in data.phones
				li  (#{phone.phoneTownCode}) #{phone.phoneNumber} (#{phone.phoneTypeName})
			h4 Время работы		
			ul
			each wh in data.workingHours
				li #{wh.weekDayName}	
		a.btn.btn-primary.show-net(href='#') show me the Net in tha place